# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

out
.DS_Store
*.log*
/build/data.db
/resources/sherpa-onnx-nemo-ctc-en-conformer-small/
/resources/vits-piper-en_US-amy-low/
/resources/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/
/build/ollama/
/resources/ollama/


./output.wav
