body,
button,
input,
textarea,
nav a {
  font-family: 'Arial', sans-serif; /* Example font */
  color: #333; /* Default text color */
}

.quiz-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa; /* Light background color */
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #343a40; /* Dark background for sidebar */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h3 {
  margin: 10px 0;
}

.sidebar p {
  margin: 5px 0;
  font-size: 1.2em;
}

.timer,
.points,
.additional-info {
  margin-bottom: 20px;
  text-align: center;
}

.quiz-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  background-image: radial-gradient(circle, #d0d0d0 1px, transparent 1px);
  background-size: 20px 20px;
}

.quiz-content h2 {
  margin-top: 0;
  font-size: 2em;
  color: #343a40; /* Dark text color */
}

.quiz-content p {
  font-size: 1.2em;
  color: #6c757d; /* Muted text color */
}
